doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title SmartGross
    script(src='https://kit.fontawesome.com/208182354f.js' crossorigin='anonymous')
    // font-family: 'Permanent Marker', cursive;
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap' rel='stylesheet')

    //
      font-family: 'Playfair Display', serif;
      font-family: 'Poppins', sans-serif;
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='./index.css')

  body.body.scrollbar
    // navbar
    .navbar
      nav.navbar__inner.reset-anchor
        .navbar__hamburger.js--components-function--sidebar__hamburger
        a(href='/')
          .navbar__logo.typography-logo-style
            i.fas.fa-camera-retro
            |  Groceries
        ul.navbar__list
          li.navbar__list
            a.navbar__link(href='/')
              i.fas.fa-shopping-bag
          li.navbar__item
            a.navbar__link(href='/home')
              i.fas.fa-home          

    .card.cart
      .cart__main
        h2.heading-tertiary.heading-tertiary--2 My Cart
        for products in smartBagData
          if products.inCart
            .inner-card.reset-anchor
              .product-inner-card
                a.product-inner-card__img-box(href='./each-product.html')
                  img.product-inner-card__img(src=`${products.image}` alt='')
                .product-inner-card__main
                  .product-desc
                    .product-desc
                      .product-desc__brand 
                      a.product-desc__name.products__name(href='./each-product.html')
                        | #{products.name} 
                      .product-desc__price
                        span.product-desc__price-act &#x20B9;#{products.price}
                      .product-desc__extras
                        .cart__quantity.js--components-function--increment-decrement-input-number
                          input(type="text" value=`${products.id}` readonly style="display:none" class="incDecCart")
                          input(type="number" value=`${products.price}` readonly style="display:none" class="priceCart")
                          button(type="button").cart__quantity-btn.cart__quantity-btn--decrease.js--components-function--increment-decrement-input-number__decrease
                            | -
                          input.cart__quantity-input.js--components-function--increment-decrement-input-number__input(type='number' min='1' value=`${products.quantity}`)
                          button(type="button").cart__quantity-btn.cart__quantity-btn--increase.js--components-function--increment-decrement-input-number__increase
                            | +
                        .removeEle.btn.btn--text.btn--text-inital-dark.btn--primary
                          | Remove
        for products in data
          if products.inCart
            .inner-card.reset-anchor
              .product-inner-card
                a.product-inner-card__img-box(href='./each-product.html')
                  img.product-inner-card__img(src=`${products.image}` alt='')
                .product-inner-card__main
                  .product-desc
                    .product-desc
                      .product-desc__brand 
                      a.product-desc__name.products__name(href='./each-product.html')
                        | #{products.name} 
                      .product-desc__price
                        span.product-desc__price-act &#x20B9;#{products.price}
                      .product-desc__extras
                        .cart__quantity.js--components-function--increment-decrement-input-number
                          input(type="text" value=`${products.id}` readonly style="display:none" class="incDecCart")
                          input(type="number" value=`${products.price}` readonly style="display:none" class="priceCart")
                          button(type="button").cart__quantity-btn.cart__quantity-btn--decrease.js--components-function--increment-decrement-input-number__decrease
                            | -
                          input.cart__quantity-input.js--components-function--increment-decrement-input-number__input(type='number' min='1' value=`${products.quantity}`)
                          button(type="button").cart__quantity-btn.cart__quantity-btn--increase.js--components-function--increment-decrement-input-number__increase
                            | +
                        .removeEle.btn.btn--text.btn--text-inital-dark.btn--primary
                          | Remove       


        if !tempPre
          .inner-card.js--ajax--cart-each--none
            p.heading-pentaniary.light-text Cart is empty         

        else
          .cart__btns
            button(type="button" id="discardChange").btn.btn--yellow.btn--round
              | ⨯ Discard Changes
            button(type="button" id="clearCart").btn.btn--red.btn--round
              i.fas.fa-check(aria-hidden='true')
              |  Clear Cart
            button(type="button" id="saveChanges").btn.btn--blue.btn--round
              i.fas.fa-save(aria-hidden='true')
              |  Save Changes

      .cart__summary
        h2.heading-tertiary.heading-tertiary--2 Summary
        table.cart__summary-table
          tbody
            tr.cart__summary-table-row
              th.cart__summary-table-head Subtotal
              td.cart__summary-table-data ₹ 
                span.totalAmount #{total}
            tr.cart__summary-table-row
              th.cart__summary-table-head Delivery charges
              td.cart__summary-table-data ₹0
            tr.cart__summary-table-row.cart__summary-table-row--net
              th.cart__summary-table-head Total
              td.cart__summary-table-data ₹ 
                span.totalAmount #{total}
        if tempPre
          button.btn.btn--new-blue.btn--round.btn--full Place Order
        else
          button(disabled).btn.btn--new-blue.btn--round.btn--full Place Order




  footer.footer.reset-anchor
    .footer__container
      .footer__main-container
        .footer__box.footer__box--first
          .footer__logo.typography-logo-style
            i.fas.fa-camera-retro
            |  Chemistry Gods
          address.footer__contact
            a.footer__contact-each(href='#')
              span.footer__contact-icon
                i.fas.fa-envelope
              |                 chemistrygods@gmail.com
        .footer__box
          h3.footer__heading Information
          ul.footer__list
            li.footer__item
              a(href='#') About Us
            li.footer__item
              a(href='#') Delivery Information
            li.footer__item
              a(href='#') Privacy Policy
            li.footer__item
              a(href='#') Contact Us
        .footer__box
          h3.footer__heading Support
          ul.footer__list
            li.footer__item
              a(href='#') 24/7 Support
            li.footer__item
              a(href='#') FAQs
            li.footer__item
              a(href='#') Privacy Policy
        .footer__box
          h3.footer__heading Important Links
          ul.footer__list
            li.footer__item
              a(href='#') Blog
            li.footer__item
              a(href='#') Testiomonials
            li.footer__item
              a(href='#') Feedback
      .footer__copyright-container
        .footer__copyright
          | Copyright &copy; 2021 Chemistry Gods | All Rights Reserved
  script(src='./index.js')
